* {
    outline: solid 2px red;
}


body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(232, 225, 163);
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5em;
}

button {
    background-color: rgb(230, 227, 198);
    border-radius: 12px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.text {
    color: rgb(83, 58, 20);
}
